<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>

<div th:fragment="userFoot">
    <footer class="foot">
        <div class="foot1">
            <h6 class="data2">our phone--> +37493834901 </h6>  <h6 class="data3">| our mail
            -->loanbankassistance@gmail.com </h6>
            <h6 class="data4">| our address --> IT Space </h6>
            <div class="data6">
                <a href="/contactUs" class="butn small"><span>contact us</span></a>
            </div>
        </div>

    </footer>
</div>


</body>
</html>