<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="userInfo">

    <header class="header-style1 border-bottom border-color-light-white menu_area-light">

        <div class="navbar-default">

            <!-- start top search -->
            <div class="top-search bg-primary">
                <div class="container">
                    <form class="search-form" action="search.html" method="GET" accept-charset="utf-8">
                        <div class="input-group">
                                <span class="input-group-addon cursor-pointer">
                                    <button class="search-form_submit fas fa-search text-white" type="submit"></button>
                                </span>
                            <input type="text" class="search-form_input form-control" name="s" autocomplete="off"
                                   placeholder="Type & hit enter...">
                            <span class="input-group-addon close-search mt-1"><i class="fas fa-times"></i></span>
                        </div>
                    </form>
                </div>
            </div>
            <!-- end top search -->
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12 col-lg-12">
                        <div class="menu_area">
                            <nav class="navbar navbar-expand-lg navbar-light p-0">

                                <div class="navbar-header navbar-header-custom">
                                    <!-- start logo -->
                                    <a href="/" class="navbar-brand"><img id="logo"
                                                                                   src="/img/logos/logo-inner.png"
                                                                                   alt="logo"></a>
                                    <!-- end logo -->
                                </div>

                                <div class="navbar-toggler"></div>

                                <!-- menu area -->
                                <ul class="navbar-nav mx-auto" id="nav" style="display: none;">
                                    <li><a href="/">Home</a></li>
                                    <li>
                                        <a href="" th:if="${currentUser!=null}">History</a>
                                    </li>
                                    <li><a href="" th:if="${currentUser!=null}">Repay</a>

                                    </li>
                                    <li><a href="/transaction/transfer" th:if="${currentUser!=null}">transfer</a>
                                    </li>
                                    <li>
                                        <a href="/">account</a>
                                        <ul>
                                            <li><a th:if="${currentUser==null}" href="/user/register">register</a></li>
                                            <li><a th:if="${currentUser==null}" href="/user/login">login</a></li>
                                            <li><a th:if="${currentUser!=null}" href="blog-list.html">profile</a></li>
                                            <li><a th:if="${currentUser!=null}" href="/logout">logout</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a th:if="${currentUser!=null}" href="/notification">Notification </a></li>
                                    <div class="card card-style3">
                                        <span th:if="${currentUser!=null}" th:text="${notificationByUser}">0</span>
                                    </div>
                                </ul>
                                <!-- end menu area -->

                                <!-- start attribute navigation -->
                                <div th:if="${currentUser!=null}" class="attr-nav">
                                    <ul>
                                        <li class="d-none d-lg-inline-block"><a href="/balance"
                                                th:text="${'Your Balcnce | '+currentCard.getBalance()+' '+currentCard.getMoneyType().name()}"
                                                class="butn small">
                                        </a></li>
                                    </ul>

                                </div>

                                <!-- end attribute navigation -->

                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header>

</div>
</body>
</html>