<!DOCTYPE html>
<html lang="en">

<head>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Chitrakoot Web">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="Banking and Loan Responsive Template">
    <meta name="description" content="Loan- Banking and Loan Responsive Template">

    <!-- title  -->
    <title>Loan- Banking and Loan Responsive Template</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="/img/logos/favicon.png">
    <link rel="apple-touch-icon" href="/img/logos/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/logos/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/logos/apple-touch-icon-114x114.png">

    <!-- plugins -->
    <link rel="stylesheet" href="/css/plugins.css">

    <!-- search css -->
    <link rel="stylesheet" href="/search/search.css">

    <!-- quform css -->
    <link rel="stylesheet" href="/quform/css/base.css">

    <!-- theme core css -->
    <link href="/css/styles.css" rel="stylesheet">

</head>

<body>

<!-- PAGE LOADING
================================================== -->
<div id="preloader"></div>

<!-- MAIN WRAPPER
================================================== -->
<div class="main-wrapper">

    <!-- HEADER
    ================================================== -->
    <th:block th:include="/user/fragment/headerFragment::userInfo"/>

    <!-- PAGE TITLE
    ================================================== -->
    <section class="page-title-section top-position1 bg-img cover-background" data-overlay-dark="55"
             data-background="img/bg/page-title.jpg">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <h1>Business Credit</h1>
                </div>
            </div>

        </div>
    </section>

    <!-- BUSINESS LOAN
    ================================================== -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 order-2 order-lg-1">
                    <div class="sidebar pe-lg-1-9">
                        <div class="loan-type mb-4">
                            <ul class="list-unstyled m-0">
                                <li><a href="/transaction/aboutPersonalCredit">Personal Credit</a></li>
                                <li><a href="/transaction/aboutEducationCredit">Business Credit</a></li>
                                <li><a href="/transaction/aboutBusinessCredit">Education Credit</a></li>
                            </ul>
                        </div>
                        <div class="mb-4">
                            <a href="/transaction/businessCredit" class="butn w-100">Take</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 order-1 order-lg-2 mb-1-9 mb-lg-0">

                    <div>
                        <h2 class="mb-1-9">Get instant business loan with short disbursal.</h2>
                        <div class="row mb-1-9 mt-n1-9">
                            <div class="col-lg-6 mt-1-9">
                                <img src="/img/service/service-details-8.jpg" class="rounded" alt="...">
                            </div>
                            <div class="col-lg-6 mt-1-9">
                                <img src="/img/service/service-details-12.jpg" class="rounded" alt="...">
                            </div>
                        </div>
                        <p class="mb-1-6 mb-lg-1-9">There are many variations of passages of Lorem Ipsum available, but
                            the majority have suffered alteration in some form, by injected humour, or randomised words
                            which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum,
                            you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                        <div class="row mb-1-9">
                            <div class="col-xl-6 mb-1-9 mb-xl-0">
                                <h4 class="h5 mb-3">Eligibility Criteria</h4>
                                <ul class="list-style2 list-unstyled mb-0">
                                    <li class="mb-2">Making this the first true generator</li>
                                    <li class="mb-2">Generate which looks reasonable</li>
                                    <li class="mb-2">Letraset sheets containing Lorem Ipsum</li>
                                    <li>Handful of model sentence structures</li>
                                </ul>
                            </div>
                            <div class="col-xl-6">
                                <h3 class="h5 mb-3">Documents Required</h3>
                                <ul class="list-style2 list-unstyled mb-0">
                                    <li class="mb-2">Unique Identity Number</li>
                                    <li class="mb-2">Proof of Identity</li>
                                    <li class="mb-2">4 Cheques from your salary account</li>
                                    <li>Current address proof</li>
                                </ul>
                            </div>
                        </div>
                        <div class="mb-4">
                            <img src="/img/service/service-details-13.jpg" class="rounded" alt="...">
                        </div>
                        <p class="mb-1-9">All the Lorem Ipsum generators on the Internet tend to repeat predefined
                            chunks as necessary, Making this the first true generator on the Internet. It uses a
                            dictionary of over 200 Latin words, combined with a handful of model sentence structures, to
                            generate Lorem Ipsum which looks reasonable.</p>

                        <div class="media mb-1-9">
                            <i class="fas fa-donate text-primary mb-0 display-20 display-xl-15"></i>
                            <div class="media-body ms-4">
                                <h4 class="h5 mb-3 text-secondary">Repayment Schedule</h4>
                                <p class="mb-0">An individual advance is an unstable credit that you can benefit without
                                    vowing any insurance.</p>
                            </div>
                        </div>
                        <div class="media mb-1-9">
                            <i class="fas fa-hand-holding-usd text-primary display-20 display-xl-15"></i>
                            <div class="media-body ms-4">
                                <h4 class="h5 mb-3 text-secondary">EMI Calculator</h4>
                                <p class="mb-0">An individual advance is an unstable credit that you can benefit without
                                    vowing any insurance.</p>
                            </div>
                        </div>
                        <div class="media">
                            <i class="fas fa-home text-primary display-20 display-xl-15"></i>
                            <div class="media-body ms-4">
                                <h4 class="h5 mb-3 text-secondary">Interest Rates</h4>
                                <p class="mb-0">An individual advance is an unstable credit that you can benefit without
                                    vowing any insurance.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- FOOTER
    ================================================== -->
    <th:block th:include="/user/fragment/footerFragment::userFoot"/>
</div>

<!-- BUY TEMPLATE
================================================== -->


<!-- start scroll to top -->
<a href="#!" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
<!-- end scroll to top -->

<!-- all js include start -->

<!-- jQuery -->
<script src="/js/jquery.min.js"></script>

<!-- popper js -->
<script src="/js/popper.min.js"></script>

<!-- bootstrap -->
<script src="/js/bootstrap.min.js"></script>

<!-- jquery -->
<script src="/js/core.min.js"></script>

<!-- Search -->
<script src="search/search.js"></script>

<!-- custom scripts -->
<script src="/js/main.js"></script>

<!-- form plugins js -->
<script src="/quform/js/plugins.js"></script>

<!-- form scripts js -->
<script src="/quform/js/scripts.js"></script>

<!-- all js include end -->
</body>

</html>