<!DOCTYPE html>
<html lang="en">

<head>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Chitrakoot Web">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="Banking and Loan Responsive Template">
    <meta name="description" content="Loan- Banking and Loan Responsive Template">

    <!-- title  -->
    <title>Loan- Banking and Loan Responsive Template</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="img/logos/favicon.png">
    <link rel="apple-touch-icon" href="img/logos/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/logos/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/logos/apple-touch-icon-114x114.png">

    <!-- plugins -->
    <link rel="stylesheet" href="/css/plugins.css">

    <!-- search css -->
    <link rel="stylesheet" href="/search/search.css">

    <!-- quform css -->
    <link rel="stylesheet" href="/quform/css/base.css">

    <!-- theme core css -->
    <link href="/css/styles.css" rel="stylesheet">

</head>

<body>

<!-- PAGE LOADING
================================================== -->
<div id="preloader"></div>

<!-- MAIN WRAPPER
================================================== -->
<div class="main-wrapper">

    <!-- HEADER
    ================================================== -->
    <th:block th:include="/user/fragment/headerFragment::userInfo"/>

    <!-- PAGE TITLE
    ================================================== -->
    <section class="page-title-section top-position1 bg-img cover-background" data-overlay-dark="55"
             data-background="img/bg/page-title.jpg">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <h1>Education Credit</h1>
                </div>
            </div>

        </div>
    </section>

    <!-- EDUCATION LOAN
    ================================================== -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 order-2 order-lg-1">
                    <form action="/transaction/educationCredit" method="post" class="transaction-form">
                        <h2>Education Credit</h2>
                        <div class="form-group">
                            <div class="manual-money">
                                <label>Money Size:</label>
                                <input type="number" name="sizeMoney" placeholder="Enter amount" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <h6>MAX 96 month</h6>
                            <h6>MIN 36 month</h6>
                            <label>Months:</label>
                            <input type="number" name="months" min="36" max="96" required>
                            <br>
                        </div>
                        <h4>interest rate 6%</h4>
                        <div class="submit-container">
                            <button type="submit">Take</button>
                        </div>
                    </form>
                </div>
                <div class="col-lg-8 order-1 order-lg-2 mb-1-9 mb-lg-0">
                    <div>
                        <div class="row mb-1-6 mb-xl-1-9">
                            <h2 class="mb-1-9">Get instant education loan with short disbursal.</h2>
                            <div class="col-xl-6 order-2 order-xl-1">
                                <p class="mb-0">It is a long established fact that a reader will be distracted by the
                                    readable content of a page when looking at its layout. The point of using Lorem
                                    Ipsum is that it has a more-or-less normal distribution of letters, as opposed to
                                    using 'Content here, content here', making it look like readable English.</p>
                            </div>
                            <div class="col-xl-6 order-1 order-xl-2 mb-4 mb-xl-0">
                                <img src="img/service/service-details-14.jpg" class="rounded" alt="...">
                            </div>
                        </div>
                        <div class="row mb-4 mb-xl-5">
                            <div class="col-xl-6 mb-4 mb-xl-0">
                                <img src="img/service/service-details-15.jpg" class="rounded" alt="...">
                            </div>
                            <div class="col-xl-6">
                                <p class="mb-0">All the Lorem Ipsum generators on the Internet tend to repeat predefined
                                    chunks as necessary, Making this the first true generator on the Internet. It uses a
                                    dictionary of over 200 Latin words, combined with a handful of model sentence
                                    structures, to generate Lorem Ipsum which looks reasonable.</p>
                            </div>
                        </div>
                        <h3 class="h4 mb-3">Features of education loan</h3>
                        <p class="mb-4">There are many variations of passages of Lorem Ipsum available, but the majority
                            have suffered alteration in some form, by injected humour, or randomised words which don't
                            look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to
                            be sure there isn't anything embarrassing hidden.</p>
                        <div class="row mb-1-6 mb-xl-1-9 mt-n1-6">
                            <div class="col-lg-4 mt-1-6">
                                <img src="img/service/service-details-16.jpg" class="rounded" alt="...">
                            </div>
                            <div class="col-lg-4 mt-1-6">
                                <img src="img/service/service-details-17.jpg" class="rounded" alt="...">
                            </div>
                            <div class="col-lg-4 mt-1-6">
                                <img src="img/service/service-details-18.jpg" class="rounded" alt="...">
                            </div>
                        </div>
                        <p class="mb-4">It was popularised in the 1960s with the release of Letraset sheets containing
                            Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
                            PageMaker including versions of Lorem Ipsum.</p>
                        <div id="accordion" class="accordion-style">
                            <div class="card mb-3">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" data-bs-toggle="collapse"
                                                data-bs-target="#collapseOne" aria-expanded="true"
                                                aria-controls="collapseOne">How quick will my credit be subsidized?
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                     data-bs-parent="#accordion">
                                    <div class="card-body position-relative">There are many variations of passages of
                                        Lorem Ipsum available, but the majority have suffered alteration in some form,
                                        by injected humour, or randomised words which don't look even slightly
                                        believable.There are many variations of passages of Lorem Ipsum available, but
                                        the majority have suffered alteration in some form, by injected humour, or
                                        randomised.
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-3">
                                <div class="card-header" id="headingTwo">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-bs-toggle="collapse"
                                                data-bs-target="#collapseTwo" aria-expanded="false"
                                                aria-controls="collapseTwo">What is outsourced financial support?
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                     data-bs-parent="#accordion">
                                    <div class="card-body position-relative">
                                        It is a long established fact that a reader will be distracted by the readable
                                        content of a page when looking at its layout. The point of using Lorem Ipsum is
                                        that it has a more-or-less normal distribution of letters, as opposed to using
                                        'Content here, content here', making it look like readable English.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-bs-toggle="collapse"
                                                data-bs-target="#collapseThree" aria-expanded="false"
                                                aria-controls="collapseThree">How long is an affirmed financing cost and
                                            credit offer substantial?
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                     data-bs-parent="#accordion">
                                    <div class="card-body position-relative">
                                        Many desktop publishing packages and web page editors now use Lorem Ipsum as
                                        their default model text, and a search for 'lorem ipsum' will uncover many web
                                        sites still in their infancy. Various versions have evolved over the years,
                                        sometimes by accident, sometimes on purpose (injected humour and the like).
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- FOOTER
    ================================================== -->
    <th:block th:include="/user/fragment/footerFragment::userFoot"/>
</div>

<!-- BUY TEMPLATE
================================================== -->


<!-- start scroll to top -->
<a href="#!" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
<!-- end scroll to top -->

<!-- all js include start -->

<!-- jQuery -->
<script src="/js/jquery.min.js"></script>

<!-- popper js -->
<script src="/js/popper.min.js"></script>

<!-- bootstrap -->
<script src="/js/bootstrap.min.js"></script>

<!-- jquery -->
<script src="/js/core.min.js"></script>

<!-- Search -->
<script src="/search/search.js"></script>

<!-- custom scripts -->
<script src="/js/main.js"></script>

<!-- form plugins js -->
<script src="/quform/js/plugins.js"></script>

<!-- form scripts js -->
<script src="/quform/js/scripts.js"></script>

<!-- all js include end -->
</body>

</html>