<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Chitrakoot Web">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="Banking and Loan Responsive Template">
    <meta name="description" content="Loan- Banking and Loan Responsive Template">

    <!-- title  -->
    <title>Loan- Banking and Loan Responsive Template</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="img/logos/favicon.png">
    <link rel="apple-touch-icon" href="img/logos/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/logos/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/logos/apple-touch-icon-114x114.png">

    <!-- plugins -->
    <link rel="stylesheet" href="/css/plugins.css">

    <!-- search css -->
    <link rel="stylesheet" href="search/search.css">

    <!-- quform css -->
    <link rel="stylesheet" href="quform/css/base.css">

    <!-- theme core css -->
    <link href="/css/styles.css" rel="stylesheet">

</head>

<body>

<!-- PAGE LOADING
================================================== -->
<div id="preloader"></div>

<!-- MAIN WRAPPER
================================================== -->
<div class="main-wrapper">

    <!-- 404 PAGE
    ================================================== -->
    <section class="p-0">
        <div class="container-fluid d-flex flex-column">
            <div class="row align-items-center justify-content-center min-vh-100">
                <div class="col-lg-10 col-xl-6 text-center">
                    <img src="/img/content/error-img.png" class="mb-2-9" alt="...">
                    <h2 class="mb-4"  th:if="${msg != null}"
                                th:text="${msg}">Something Went Wrong</h2>
                    <h2 class="mb-4" >Something Went Wrong</h2>
                    <p class="w-sm-80 w-lg-60 mx-auto mb-4">This page is incidentally inaccessible because of support. We will back very before long much obliged for your understanding</p>
                    <div>
                        <a href="/" class="butn my-1 mx-1">Return Home</a>
                        <a href="/messages" class="butn primary secondary-hover my-1 mx-1">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

<!-- BUY TEMPLATE
================================================== -->
<!-- start scroll to top -->
<a href="#!" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
<!-- end scroll to top -->

<!-- all js include start -->

<!-- jQuery -->
<script src="/js/jquery.min.js"></script>

<!-- popper js -->
<script src="/js/popper.min.js"></script>

<!-- bootstrap -->
<script src="/js/bootstrap.min.js"></script>

<!-- jquery -->
<script src="/js/core.min.js"></script>

<!-- Search -->
<script src="/search/search.js"></script>

<!-- custom scripts -->
<script src="/js/main.js"></script>

<!-- form plugins js -->
<script src="/quform/js/plugins.js"></script>

<!-- form scripts js -->
<script src="/quform/js/scripts.js"></script>

<!-- all js include end -->
</body>

</html>