<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Chitrakoot Web">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="Banking and Loan Responsive Template">
    <meta name="description" content="Loan- Banking and Loan Responsive Template">

    <!-- title  -->
    <title>Loan- Banking </title>

    <!-- favicon -->
    <link rel="shortcut icon" href="img/logos/favicon.png">
    <link rel="apple-touch-icon" href="img/logos/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/logos/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/logos/apple-touch-icon-114x114.png">

    <!-- plugins -->
    <link rel="stylesheet" href="css/plugins.css">

    <!-- search css -->
    <link rel="stylesheet" href="search/search.css">

    <!-- quform css -->
    <link rel="stylesheet" href="quform/css/base.css">

    <!-- theme core css -->
    <link href="css/styles.css" rel="stylesheet">

</head>

<body>

<!-- PAGE LOADING
================================================== -->
<div id="preloader"></div>

<!-- MAIN WRAPPER
================================================== -->
<div class="main-wrapper">


    <th:block th:include="/user/fragment/headerFragment::userInfo"/>
    <!-- BANNER
    ================================================== -->
    <section class="bg-img cover-background full-screen top-position1 p-0" data-overlay-dark="2"
             data-background="img/about/img.png">

        <div class="container d-flex flex-column">
            <div class="row align-items-center min-vh-100">
                <div class="col-md-10 col-lg-7 col-xl-8 mt-5 mt-lg-0">
                    <span class="display-28 letter-spacing-2 d-block mb-1-6 text-primary fw-bold">Simple. Transparent. Secure.</span>
                    <h1 class="text-white display-16 display-sm-14 display-md-9 display-lg-7 display-xl-3 lh-1 mb-2-3 text-shadow">
                        <span class="fw-bolder">Building a brilliant</span> monetary future</h1>
                </div>
            </div>
        </div>

    </section>

    <!-- SERVICES
    ================================================== -->
    <section class="py-2-3 services-block">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-3 mb-1-9 mb-lg-0">
                    <div class="media align-items-center">
                        <img src="/img/content/icon1.png" alt="...">
                        <div class="media-body ms-3">
                            <h4 class="mb-0 text-white h5">Fast Approvals</h4>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 mb-1-9 mb-lg-0">
                    <div class="media align-items-center">
                        <img src="img/content/icon2.png" alt="...">
                        <div class="media-body ms-3">
                            <h4 class="mb-0 text-white h5">Customers</h4>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 mb-1-9 mb-sm-0">
                    <div class="media align-items-center">
                        <img src="img/content/icon3.png" alt="...">
                        <div class="media-body ms-3">
                            <h4 class="mb-0 text-white h5">Flexible payments</h4>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="media align-items-center">
                        <img src="img/content/icon4.png" alt="...">
                        <div class="media-body ms-3">
                            <h4 class="mb-0 text-white h5">No Prepayment Fees</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- SERVICE
    ================================================== -->
    <section>
        <div class="container">
            <div class="row align-items-end mb-2-3 mb-md-6">
                <div class="col-lg-5 mb-3 mb-lg-0">
                    <div class="main-title title-left">what we offer
                        <span class="line-left"></span>
                    </div>
                    <h2 class="w-md-90 text-lg-start mb-0">You can accomplish your monetary objectives.</h2>
                </div>
                <div class="col-lg-7">
                    <p class="mb-0">Advances at appealing financing costs with higher credit qualification and lower
                        EMI. credit is the loaning of cash by at least one people, associations, or different substances
                        to others, associations. Apply now to get snappy endorsement of best advance
                        administrations.</p>
                </div>
            </div>
            <div class="row g-lg-5 mt-n1-9">
                <div class="col-md-6 col-xl-4 mt-1-9">
                    <div class="card card-style1">
                        <img src="img/service/main-services-1.jpg" class="d-block" alt="...">
                        <div class="service-data">
                            <div class="lh-1"><i class="ti-credit-card display-20 display-lg-15 text-white"></i></div>
                            <h3 class="h5 text-white mb-0 ms-3">Personal Credit</h3>
                        </div>
                        <div class="card-body">
                            <div class="service-inner">
                                <div class="lh-1"><i class="ti-credit-card display-15 text-primary"></i></div>
                                <h3 class="h5 mb-0 ms-3"><a href="#!" class="text-white">Personal Credit</a></h3>
                            </div>
                            <div>
                                <p class="text-white mb-lg-4">An individual advance is an unstable credit that you can
                                    benefit without vowing any insurance.</p>
                                <a class="butn small primary" href="/transaction/aboutPersonalCredit">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4 mt-1-9">
                    <div class="card card-style1">
                        <img src="img/service/main-services-2.jpg" class="d-block" alt="...">
                        <div class="service-data">
                            <div class="lh-1"><i class="ti-pencil-alt display-20 display-lg-15 text-white"></i></div>
                            <h3 class="h5 text-white mb-0 ms-3">Education Credit</h3>
                        </div>
                        <div class="card-body">
                            <div class="service-inner">
                                <div class="lh-1"><i class="ti-pencil-alt display-15 text-primary"></i></div>
                                <h3 class="h5 mb-0 ms-3"><a href="#!" class="text-white">Education Credit</a></h3>
                            </div>
                            <div>
                                <p class="text-white mb-lg-4">An understudy loan can assist you with getting your
                                    preferred college.</p>
                                <a class="butn small primary" href="/transaction/aboutEducationCredit">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4 mt-1-9">
                    <div class="card card-style1">
                        <img src="img/service/main-services-3.jpg" class="d-block" alt="...">
                        <div class="service-data">
                            <div class="lh-1"><i class="ti-zip display-20 display-lg-15 text-white"></i></div>
                            <h3 class="h5 text-white mb-0 ms-3">Business Credit</h3>
                        </div>
                        <div class="card-body">
                            <div class="service-inner">
                                <div class="lh-1"><i class="ti-zip display-15 text-primary"></i></div>
                                <h3 class="h5 mb-0 ms-3"><a href="#!" class="text-white">Business Credit</a></h3>
                            </div>
                            <div>
                                <p class="text-white mb-lg-4">Credit office that is intended to help entrepreneurs by
                                    giving assets immediately.</p>
                                <a class="butn small primary" href="/transaction/aboutBusinessCredit">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- POTENTIAL
    ================================================== -->
    <section>
        <div class="container">
            <div class="row align-items-end mb-2-3 mb-md-6">
                <div class="col-lg-5 mb-3 mb-lg-0">
                    <div class="main-title title-left">Potential<span class="line-left"></span></div>
                    <h2 class="w-lg-90 mb-0">Aiding your business reach its full potential</h2>
                </div>
                <div class="col-lg-7">
                    <p class="mb-0">Advances at appealing financing costs with higher credit qualification and lower
                        EMI. credit is the loaning of cash by at least one people, associations, or different substances
                        to others, associations. Apply now to get snappy endorsement of best advance
                        administrations.</p>
                </div>
            </div>
            <div class="row mt-n1-9">
                <div class="col-sm-6 col-lg-3 mt-1-9">
                    <div class="card card-style3">
                        <img src="img/service/services-1.jpg" class="d-block" alt="...">

                        <div class="card-body p-4 position-relative">
                            <h3 class="h5 mb-3">Personal Loan @13%</h3>
                            <h6 class="mb-3 text-primary">Low Cost</h6>
                            <a href="/transaction/personalCredit" class="butn small">Apply Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 mt-1-9">
                    <div class="card card-style3">
                        <img src="img/service/services-2.jpg" class="d-block" alt="...">

                        <div class="card-body p-4 position-relative">
                            <h3 class="h5 mb-3">Business Credit @11%</h3>
                            <h6 class="mb-3 text-primary">Lowest Interest</h6>
                            <a href="/transaction/businessCredit" class="butn small">Apply Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 mt-1-9">
                    <div class="card card-style3">
                        <img src="img/service/services-3.jpg" class="d-block" alt="...">

                        <div class="card-body p-4 position-relative">
                            <h3 class="h5 mb-3">Deposit @1.75%</h3>
                            <h6 class="mb-3 text-primary">Rate of Interest</h6>
                            <a href="#!" class="butn small">Apply Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 mt-1-9">
                    <div class="card card-style3">
                        <img src="img/service/services-4.jpg" class="d-block" alt="...">

                        <div class="card-body p-4 position-relative">
                            <h3 class="h5 mb-3">Education Credit @6%</h3>
                            <h6 class="mb-3 text-primary">Low Cost</h6>
                            <a href="/transaction/educationCredit" class="butn small">Apply Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- GETTING A LOAN
    ================================================== -->
    <section class="bg-light">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 mb-4 mb-lg-0">
                    <div class="mx-auto text-center">
                        <img src="img/about/about-3.jpg" class="rounded" alt="...">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="ps-lg-6 ps-xl-10 w-lg-90">
                        <div class="mb-4">
                            <div class="main-title title-left">Getting a Loan<span class="line-left"></span></div>
                            <h2 class="w-90">The greater part of the people trust on us</h2>
                        </div>
                        <p class="mb-4">
                            There are many variations of passages of Lorem Ipsum available, but the majority have
                            suffered alteration in some form, by injected humour, or randomised words which don't look
                            even slightly believable.
                        </p>
                        <div id="accordion" class="accordion-style">
                            <div class="card mb-3">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" data-bs-toggle="collapse"
                                                data-bs-target="#collapseOne" aria-expanded="true"
                                                aria-controls="collapseOne">Check Your Rate
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                     data-bs-parent="#accordion">
                                    <div class="card-body position-relative">you should test your credit score rating
                                        earlier than making use of for a personal loan.
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-3">
                                <div class="card-header" id="headingTwo">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-bs-toggle="collapse"
                                                data-bs-target="#collapseTwo" aria-expanded="false"
                                                aria-controls="collapseTwo">Choose Your Loan
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                     data-bs-parent="#accordion">
                                    <div class="card-body position-relative">
                                        Choose the provide with the phrases that paintings satisfactory for you.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-bs-toggle="collapse"
                                                data-bs-target="#collapseThree" aria-expanded="false"
                                                aria-controls="collapseThree">Get Your Funds
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                     data-bs-parent="#accordion">
                                    <div class="card-body position-relative">
                                        Your cash is going instantly in your financial institution account through
                                        direct deposit.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- CALL A ACTION
    ================================================== -->
    <section class="bg-img cover-background" data-overlay-dark="7" data-background="img/bg/bg-02.jpg">
    </section>

    <!-- BLOG
    ================================================== -->
    <section>
        <div class="container">
            <div class="row align-items-end mb-2-3 mb-md-6">
                <div class="col-lg-5 mb-3 mb-lg-0">
                    <div class="main-title title-left">Latest News<span class="line-left"></span></div>
                    <h2 class="w-90">We're here to share story and news</h2>
                </div>
                <div class="col-lg-7">
                    <p class="mb-0">Advances at appealing financing costs with higher credit qualification and lower
                        EMI. credit is the loaning of cash by at least one people, associations, or different substances
                        to others, associations. Apply now to get snappy endorsement of best advance
                        administrations.</p>
                </div>
            </div>
            <div class="row g-xl-5 mt-n1-9">
                <div class="col-md-6 col-lg-4 mt-1-9">
                    <article class="card card-style4 h-100">
                        <img src="img/blog/blog-01.jpg" alt="...">
                        <div class="card-body p-1-9">
                            <ul class="list-unstyled mb-3">
                                <li class="d-inline-block me-3"><a href="#!" class="display-31"><i
                                        class="ti-calendar me-1 text-primary"></i> Mar 23, 2021</a></li>
                                <li class="d-inline-block"><a href="#!" class="display-31"><i
                                        class="fas fa-comment me-1 text-primary"></i> 10 Comment</a></li>
                            </ul>
                            <h3 class="h5 mb-3"><a href="blog-details.html">Everything you need to know about loan.</a>
                            </h3>
                            <p class="mb-0">At the point when you are needing crisis reserves, moment credits guarantee
                                rapid.</p>
                        </div>
                    </article>
                </div>
                <div class="col-md-6 col-lg-4 mt-1-9">
                    <article class="card card-style4 h-100">
                        <img src="img/blog/blog-02.jpg" alt="...">
                        <div class="card-body p-1-9">
                            <ul class="list-unstyled mb-3">
                                <li class="d-inline-block me-3"><a href="#!" class="display-31"><i
                                        class="ti-calendar me-1 text-primary"></i> Mar 18, 2021</a></li>
                                <li class="d-inline-block"><a href="#!" class="display-31"><i
                                        class="fas fa-comment me-1 text-primary"></i> 06 Comment</a></li>
                            </ul>
                            <h3 class="h5 mb-3"><a href="blog-details.html">Five secrets about loan that nobody will
                                tell you.</a></h3>
                            <p class="mb-0">At the point when you are needing crisis reserves, moment credits guarantee
                                rapid.</p>
                        </div>
                    </article>
                </div>
                <div class="col-md-6 col-lg-4 mt-1-9">
                    <article class="card card-style4 h-100">
                        <img src="img/blog/blog-03.jpg" alt="...">
                        <div class="card-body p-1-9">
                            <ul class="list-unstyled mb-3">
                                <li class="d-inline-block me-3"><a href="#!" class="display-31"><i
                                        class="ti-calendar me-1 text-primary"></i> Mar 10, 2021</a></li>
                                <li class="d-inline-block"><a href="#!" class="display-31"><i
                                        class="fas fa-comment me-1 text-primary"></i> 12 Comment</a></li>
                            </ul>
                            <h3 class="h5 mb-3"><a href="blog-details.html">Master the skills of loan and be
                                successful.</a></h3>
                            <p class="mb-0">At the point when you are needing crisis reserves, moment credits guarantee
                                rapid.</p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>

    <!-- FOOTER
    ================================================== -->
    <footer class="footer1 bg-img cover-background" data-overlay-dark="8" data-background="img/bg/footer-bg.jpg">
        <div class="container">
        </div>
        <div class="footer-bar">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6 text-center text-md-start mt-3 mt-md-0 order-2 order-md-1">
                        <p class="d-inline-block text-white mb-0">&copy; <span class="current-year"></span> Loan Powered
                            by <a href="https://www.chitrakootweb.com/" target="_blank" class="text-primary">Chitrakoot
                                Web</a></p>
                    </div>
                    <div class="col-md-6 text-md-end order-1 order-md-2">
                    </div>
                </div>
            </div>
        </div>
    </footer>

</div>

<!-- start scroll to top -->
<a href="#!" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
<!-- end scroll to top -->

<!-- all js include start -->

<!-- jQuery -->
<script src="js/jquery.min.js"></script>

<!-- popper js -->
<script src="js/popper.min.js"></script>

<!-- bootstrap -->
<script src="js/bootstrap.min.js"></script>

<!-- jquery -->
<script src="js/core.min.js"></script>

<!-- Search -->
<script src="search/search.js"></script>

<!-- custom scripts -->
<script src="js/main.js"></script>

<!-- form plugins js -->
<script src="quform/js/plugins.js"></script>

<!-- form scripts js -->
<script src="quform/js/scripts.js"></script>

<!-- all js include end -->
</body>

</html>