<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Chitrakoot Web">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="Banking and Loan Responsive Template">
    <meta name="description" content="Loan- Banking and Loan Responsive Template">

    <!-- title  -->
    <title>Loan- Banking and Loan Responsive Template</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="img/logos/favicon.png">
    <link rel="apple-touch-icon" href="img/logos/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/logos/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/logos/apple-touch-icon-114x114.png">

    <!-- plugins -->
    <link rel="stylesheet" href="/css/plugins.css">

    <link rel="stylesheet" href="/css/style.css">

    <!-- search css -->
    <link rel="stylesheet" href="/search/search.css">

    <!-- quform css -->
    <link rel="stylesheet" href="/quform/css/base.css">

    <!-- theme core css -->
    <link href="/css/styles.css" rel="stylesheet">

</head>

<body>

<!-- PAGE LOADING
================================================== -->
<div id="preloader"></div>

<!-- MAIN WRAPPER
================================================== -->
<div class="main-wrapper">
    <th:block th:include="/user/fragment/headerFragment::userInfo"/>


    <!-- PAGE TITLE
    ================================================== -->
    <section class="page-title-section top-position1 bg-img cover-background" data-overlay-dark="55"
             data-background="img/bg/page-title.jpg">

    </section>

    <!-- FORM
    ================================================== -->
    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9">

                    <div class="position-relative elements-block">

                        <div class="inner-title">
                            <div class="main-title title-left mb-0">Register
                                <span class="line-left"></span>
                            </div>
                        </div>

                        <form action="/user/register" method="POST" style="max-width: 600px; margin: auto;">
                            <span style="color: red; margin-left: 380px; font-size: 20px;" th:if="${msg != null}"
                                  th:text="${msg}"></span>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="name">Your Name <span>*</span></label>
                                        <input class="form-control" id="name" type="text" name="name"
                                               placeholder="Your name here">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="surname">Your Surname <span>*</span></label>
                                        <input class="form-control" id="surname" type="text" name="surname"
                                               placeholder="Your surname here">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="email">Your Email <span>*</span></label>
                                        <input class="form-control" id="email" type="email" name="email"
                                               placeholder="Your email here">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="password">Your Password <span>*</span></label>
                                        <input class="form-control" id="password" type="password" name="password"
                                               placeholder="Your password here">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="age">Your Age <span>*</span></label>
                                        <input class="form-control" id="age" type="number" name="age"
                                               placeholder="Your age here">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="phone">Your Phone <span>*</span></label>
                                        <input class="form-control" id="phone" type="tel" name="phone"
                                               placeholder="Your Phone here">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Money Type</label>
                                        <select class="select" name="moneyType">
                                            <option value="AMD">AMD</option>
                                            <option value="USD">USD</option>
                                            <option value="RUB">RUB</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="butn w-100">Register</button>
                        </form>

                    </div>

                </div>

            </div>
        </div>
    </section>

    <!-- FOOTER
    ================================================== -->
    <th:block th:include="/user/fragment/footerFragment::userFoot"/>
</div>

<!-- BUY TEMPLATE
================================================== -->
<div class="buy-theme alt-font d-none d-lg-inline-block"><a
        href="https://wrapbootstrap.com/theme/loan-banking-and-loan-responsive-template-WB0KB8P9K" target="_blank"><i
        class="fas fa-cart-plus"></i><span>Buy Template</span></a></div>

<div class="all-demo alt-font d-none d-lg-inline-block"><a href="https://www.chitrakootweb.com/contact.html"
                                                           target="_blank"><i class="far fa-envelope"></i><span>Quick Question?</span></a>
</div>

<!-- start scroll to top -->
<a href="#!" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
<!-- end scroll to top -->

<!-- all js include start -->

<!-- jQuery -->
<script src="/js/jquery.min.js"></script>

<!-- popper js -->
<script src="/js/popper.min.js"></script>

<!-- bootstrap -->
<script src="/js/bootstrap.min.js"></script>

<!-- jquery -->
<script src="/js/core.min.js"></script>

<!-- Search -->
<script src="/search/search.js"></script>

<!-- custom scripts -->
<script src="/js/main.js"></script>

<!-- form plugins js -->
<script src="/quform/js/plugins.js"></script>

<!-- form scripts js -->
<script src="/quform/js/scripts.js"></script>

<!-- all js include end -->
</body>

</html>