<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Chitrakoot Web">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="Banking and Loan Responsive Template">
    <meta name="description" content="Loan- Banking and Loan Responsive Template">

    <!-- title  -->
    <title>Credit List</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="img/logos/favicon.png">
    <link rel="apple-touch-icon" href="img/logos/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/logos/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/logos/apple-touch-icon-114x114.png">

    <!-- plugins -->
    <link rel="stylesheet" href="/css/plugins.css">

    <!-- search css -->
    <link rel="stylesheet" href="/search/search.css">

    <!-- quform css -->
    <link rel="stylesheet" href="/quform/css/base.css">

    <!-- theme core css -->
    <link href="/css/styles.css" rel="stylesheet">

</head>

<body>

<!-- PAGE LOADING
================================================== -->
<div id="preloader"></div>

<!-- MAIN WRAPPER
================================================== -->
<div class="main-wrapper">

    <!-- HEADER
    ================================================== -->
    <th:block th:include="/user/fragment/headerFragment::userInfo"/>

    <!-- PAGE TITLE
    ================================================== -->
    <section class="page-title-section top-position1 bg-img cover-background" data-overlay-dark="55"
             data-background="img/bg/page-title.jpg">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <h1>Transfers History</h1>
                </div>
            </div>

        </div>
    </section>

    <!-- TABLES
    ================================================== -->
    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9">

                    <div class="position-relative elements-block">

                        <div class="inner-title">
                            <div class="main-title title-left mb-0">History
                                <span class="line-left"></span>
                            </div>
                        </div>

                        <a class="butn small" href="/user/transfers">Transfers</a>
                        <a class="butn small" href="/user/transactions">Transaction</a>
                        <a class="butn small" href="/user/addWithdraw">Add/Withdraw</a>
                        <a class="butn small" href="/user/repays">Repays</a>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                <tr>
                                    <th>Size</th>
                                    <th>From</th>
                                    <th>To</th>
                                    <th>Money Type</th>
                                    <th>Date Dispatch</th>
                                </tr>
                                </thead>
                                <tbody th:each="transfer:${transfers}">
                                <tr>
                                    <td th:text="${transfer.size}"></td>
                                    <td th:text="${transfer.from.name}"></td>
                                    <td th:text="${transfer.to.name}"></td>
                                    <td th:text="${transfer.moneyType.name()}"></td>
                                    <td th:text="${transfer.dateDispatch}"></td>
                                </tr>
                                </tbody>
                            </table>
                            <br>
                            <br>
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    <li th:each="pageNumber : ${#numbers.sequence(0, transfers.totalPages - 1)}"
                                        th:class="${pageNumber == transfers.number} ? 'page-item active' : 'page-item'">
                                        <a class="page-link"
                                           th:href="@{'/user/transfers' + '?page=' + ${pageNumber+1} + '&size=' + ${transfers.size}}"
                                           th:text="${pageNumber + 1}"></a>
                                    </li>
                                </ul>
                            </nav>


                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!-- FOOTER
    ================================================== -->
    <th:block th:include="/user/fragment/footerFragment::userFoot"/>
</div>

<!-- BUY TEMPLATE
================================================== -->
<div class="buy-theme alt-font d-none d-lg-inline-block"><a
        href="https://wrapbootstrap.com/theme/loan-banking-and-loan-responsive-template-WB0KB8P9K" target="_blank"><i
        class="fas fa-cart-plus"></i><span>Buy Template</span></a></div>

<div class="all-demo alt-font d-none d-lg-inline-block"><a href="https://www.chitrakootweb.com/contact.html"
                                                           target="_blank"><i class="far fa-envelope"></i><span>Quick Question?</span></a>
</div>

<!-- start scroll to top -->
<a href="#!" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
<!-- end scroll to top -->

<!-- all js include start -->

<!-- jQuery -->
<script src="/js/jquery.min.js"></script>

<!-- popper js -->
<script src="/js/popper.min.js"></script>

<!-- bootstrap -->
<script src="/js/bootstrap.min.js"></script>

<!-- jquery -->
<script src="/js/core.min.js"></script>

<!-- Search -->
<script src="/search/search.js"></script>

<!-- custom scripts -->
<script src="/js/main.js"></script>

<!-- form plugins js -->
<script src="/quform/js/plugins.js"></script>

<!-- form scripts js -->
<script src="/quform/js/scripts.js"></script>

<!-- all js include end -->
</body>

</html>