<!DOCTYPE html>
<html lang="en">

<head>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Chitrakoot Web">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="Banking and Loan Responsive Template">
    <meta name="description" content="Loan- Banking and Loan Responsive Template">

    <!-- title  -->
    <title>Loan- Banking and Loan Responsive Template</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="/img/logos/favicon.png">
    <link rel="apple-touch-icon" href="/img/logos/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/logos/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/logos/apple-touch-icon-114x114.png">

    <!-- plugins -->
    <link rel="stylesheet" href="/css/plugins.css">

    <!-- search css -->
    <link rel="stylesheet" href="/search/search.css">

    <!-- quform css -->
    <link rel="stylesheet" href="/quform/css/base.css">

    <!-- theme core css -->
    <link href="/css/styles.css" rel="stylesheet">

</head>

<body>

<!-- PAGE LOADING
================================================== -->
<div id="preloader"></div>

<!-- MAIN WRAPPER
================================================== -->
<div class="main-wrapper">
    <th:block th:include="/user/fragment/headerFragment::userInfo"/>

    <div class="navbar-default">

        <!-- start top search -->
        <div class="top-search bg-primary">
            <div class="container">
                <form class="search-form" action="search.html" method="GET" accept-charset="utf-8">
                    <div class="input-group">
                                <span class="input-group-addon cursor-pointer">
                                    <button class="search-form_submit fas fa-search text-white" type="submit"></button>
                                </span>
                        <input type="text" class="search-form_input form-control" name="s" autocomplete="off"
                               placeholder="Type & hit enter...">
                        <span class="input-group-addon close-search mt-1"><i class="fas fa-times"></i></span>
                    </div>
                </form>
            </div>
        </div>
        <!-- end top search -->

    </div>

    </header>

    <!-- PAGE TITLE
    ================================================== -->
    <section class="page-title-section top-position1 bg-img cover-background" data-overlay-dark="55"
             data-background="img/bg/page-title.jpg">
        <div class="container">

        </div>
    </section>

    <!-- FORM
    ================================================== -->
    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9">

                    <div class="position-relative elements-block">

                        <div class="inner-title">
                            <div class="main-title title-left mb-0">transfer
                                <span class="line-left"></span>
                            </div>
                        </div>
                        <span th:style="'color: red;'" th:if="${msg != null}" th:text="${msg}"></span>

                        <form action="/transaction/transfer" method="post">
                            <div>
                                <div class="row">
                                    <!-- Begin Text input element -->
                                    <div class="col-md-6">
                                        <div>
                                            <label for="name">card number <span>*</span></label>
                                            <div>
                                                <input class="form-control" id="name" type="text" name="cardNumber"
                                                       placeholder="card number"/>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Text input element -->

                                    <!-- Begin Text input element -->
                                    <div class="col-md-6">
                                        <div class="quform-element form-group">
                                            <label for="email">size money <span>*</span></label>
                                            <div class="quform-input">
                                                <input class="form-control" id="email" type="number" name="size"
                                                       placeholder="size money"/>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Text input element -->

                                    <!-- Begin Submit button -->
                                    <div class="col-md-12">
                                        <div class="quform-submit-inner">
                                            <button class="butn" type="submit"><span>Send money</span></button>
                                        </div>
                                        <div><span></span></div>
                                    </div>
                                    <!-- End Submit button -->
                                </div>
                            </div>
                        </form>


                    </div>

                </div>
            </div>
        </div>
    </section>

    <!-- FOOTER
    ================================================== -->
    <th:block th:include="/user/fragment/footerFragment::userFoot"/>
</div>

<!-- BUY TEMPLATE
================================================== -->
<div class="buy-theme alt-font d-none d-lg-inline-block"><a
        href="https://wrapbootstrap.com/theme/loan-banking-and-loan-responsive-template-WB0KB8P9K" target="_blank"><i
        class="fas fa-cart-plus"></i><span>Buy Template</span></a></div>

<div class="all-demo alt-font d-none d-lg-inline-block"><a href="https://www.chitrakootweb.com/contact.html"
                                                           target="_blank"><i class="far fa-envelope"></i><span>Quick Question?</span></a>
</div>

<!-- start scroll to top -->
<a href="#!" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
<!-- end scroll to top -->

<!-- all js include start -->

<!-- jQuery -->
<script src="/js/jquery.min.js"></script>

<!-- popper js -->
<script src="/js/popper.min.js"></script>

<!-- bootstrap -->
<script src="/js/bootstrap.min.js"></script>

<!-- jquery -->
<script src="/js/core.min.js"></script>

<!-- Search -->
<script src="/search/search.js"></script>

<!-- custom scripts -->
<script src="/js/main.js"></script>

<!-- form plugins js -->
<script src="/quform/js/plugins.js"></script>

<!-- form scripts js -->
<script src=/"quform/js/scripts.js"></script>

<!-- all js include end -->
</body>

</html>